.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 20%;

}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


.name {
  font-size: 1.5vw;
}
.jitendra-info {
  font-size: 1.2vw;
  padding: 5%;
}